@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Roboto:300,700&subset=latin-ext");
html, body {
  overflow: hidden; }

body {
  background: #efffff;
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', cursive; }

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(bg.jpg);
  background-position: left center;
  background-size: cover;
  opacity: 0;
  transition: opacity 1.5s cubic-bezier(0.7, 0, 0.3, 1), transform 2s cubic-bezier(0.7, 0, 0.3, 1);
  transform: scale(1.2); }
  .loaded .background {
    opacity: 1;
    transform: none; }

.content-wrapper {
  color: white;
  position: absolute;
  left: 0;
  width: 40%;
  bottom: 10%;
  text-align: center; }

a {
  color: #ffd600;
  text-decoration: none;
  font-weight: bold; }

.content {
  display: inline-block;
  text-align: left; }

.coming-soon {
  margin-top: 2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1vw;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.75s cubic-bezier(0.7, 0, 0.52, 1.91) 3800ms, opacity 0.2s cubic-bezier(0.7, 0, 0.3, 1) 3800ms; }
  .loaded .coming-soon {
    opacity: 1;
    transform: translateY(0); }

strong {
  font-weight: bold; }

.word--playful {
  transform: translateY(48%);
  transition: transform 0.45s cubic-bezier(0.03, 0.88, 0.52, 1.91) 4166ms;
  font-size: 0px;
  color: #fff;
  line-height: 0.65;
  margin: 0 0 1em 0; }
  .loaded .word--playful {
    transform: none; }

.word--playful > span {
  font-size: 5vw;
  display: inline-block;
  padding: 1em 0 0;
  cursor: pointer;
  position: relative;
  transition: opacity 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  opacity: 0; }
  .word--playful > span.ready {
    opacity: 1; }

.word--playful span span {
  display: block;
  pointer-events: none; }
